<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" id="sidebarBtn">
                <i class="fas fa-bars"></i>
            </button>

            <img src="/admin/images/logo.png" alt="logo" class="logo-img">
        </div>

        <div class="navbar-brand d-flex">
            <div class="mt-2">
                <h5>Admin</h5>
            </div>
            <div class="dropstart">
                <button class="btn navbar-brand" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-circle-user fa-xl"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">View Profile</a></li>
                    <li><a href="/admin/logout" class="dropdown-item">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>


