<div class="d-lg-flex d-block ">
    <div class="col-lg-3 col-md-6 col-sm-12" id="sidebarId">
        <nav id="sidebarMenu" class="collapse sidebar d-lg-block collapse bg-white">
            <div>
                <div class="list-group list-group-flush mx-3 mt-4 lh-lg">
                    <a href="/admin/dashboard" class="list-group-item list-group-item-action py-2 ripple"
                        aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw"></i><span class="ms-2">Dashboard</span>
                    </a>
                    <a href="/admin/manageProducts/1" class="list-group-item list-group-item-action py-2 sideMenu"
                        id="manage_products">
                        <i class="fa-brands fa-shopify"></i><span class="ms-2"> Manage products</span>
                    </a>
                    <a href="/admin/manageCategory/1" class="list-group-item list-group-item-action py-2"><i
                            class="fa-solid fa-cubes"></i><span class="ms-2">Manage
                            category</span></a>
                    <a href="/admin/manageUsers/1" class="list-group-item list-group-item-action py-2"><i
                            class="fa-solid fa-users"></i><span class="ms-2">Manage
                            customers</span></a>
                    <a href="/admin/manageOrders/1" class="list-group-item list-group-item-action py-2"><i
                            class="fa-solid fa-truck-fast"></i><span class="ms-2">Manage
                            orders</span></a>
                    <a href="/admin/manageReturns/1" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-registered"></i>
                        <span class="ms-2">Manage Returns</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-gear"></i><span class="ms-2">Settings</span>
                    </a>
                    <a href="/admin/salesReport/1" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fa-solid fa-clipboard"></i><span class="ms-2">Sales
                            report</span></a>
                    <a href="/admin/manageCoupons/1" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fa-solid fa-ticket"></i><span class="ms-2">Manage
                            coupons</span></a>
                    <a href="/admin/manageBanner" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fa-solid fa-image"></i><span class="ms-2">Manage
                            Banners</span></a>

                </div>
            </div>
        </nav>
    </div>